@model AUA.ProjectName.DomainEntities.Entities.Shop.Product

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutProduct";
}


<h1>جزییات</h1>

<div >

    <hr />
    <dl class="row" style="align-items:center;" >
        <dt class="col-sm-2">
            نام محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleProduct)
        </dd>
        <dt class="col-sm-2">
            تعداد محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountProduct)
        </dd>
        <dt class="col-sm-2">
            توضیحات محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroductionProduct)
        </dd>
        <dt class="col-sm-2">
            قیمت محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceProduct)
        </dd>
        <dt class="col-sm-2">
            تعداد صفحات 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>
        <dt class="col-sm-2">
             سال انتشار
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt class="col-sm-2">
            انتشارات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            دسته بندی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryTitle)
        </dd>
        <dt class="col-sm-2">
            نام نویسنده
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>
        <dd class="col-sm-10">
            <img src="@("~/Images/"+Model.ImageName)" asp-append-version="true" width="150px" height="150px" alt="عکسی وجود ندارد" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">بازگشت</a>
</div>
